:root {
/* CSS HEX */
--tangerine: #f08700ff;
--gamboge: #f49f0aff;
--jonquil: #efca08ff;
--dark-green: #0a210fff;
--cal-poly-green: #14591dff;
}

@media (max-width: 768px){
  body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    background: rgb(0,166,166);
background: linear-gradient(145deg, var(--tangerine) 0%, var(--jonquil) 100%);
    min-height: 100vh;
  }   
}
@media (min-width: 769px){
  body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    padding-left:25%;
    padding-right:25%;
    background: rgb(0,166,166);
    background: linear-gradient(145deg, var(--tangerine) 0%, var(--jonquil) 100%);
        min-height: 100vh;
  }  
}

header {
  text-align: center;
}

main {
  display:flex;
}

button {
  background-color: var(--dark-green);
  color: white;
  border-radius: 10px;
  font-size: larger;
}

#center {
  flex:3;
  text-align: center;
}

.pad {
  flex: 1;
}

.guess {
  text-transform: uppercase;
  font-size: large;
}

#guessTable {
  margin-top:1em;
}

.guessChar {
  font-size:larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  width:1em;
  padding:5px;
  border: 1px solid white;
  background-color: black;
  color:white;
}

.guessYellow {
  background-color: var(--tangerine);
}

.guessGreen {
  background-color: var(--cal-poly-green);
}

#results {
  margin-top:1em;
  margin-bottom: 1em;
}

#help {
  visibility: hidden;
}

#solve {
  visibility: hidden;
}
