body {
  font-family: Arial, Arial, Helvetica, sans-serif;
}

.guess {
  text-transform: uppercase;
  font-size: large;
}

button {
  font-size: large;
}

#guessTable {
  margin-top:1em;
}

.guessChar {
  font-size:larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  width:1em;
  padding:5px;
  border: 1px solid black;
}

.guessYellow {
  background-color: yellow;
}

.guessGreen {
  background-color: green;
}

#results {
  margin-top:1em;
  margin-bottom: 1em;
}